# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erp/accounts/               @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erp/assets/                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erp/erp_integrations/   @nextchamp-saqib
erp/loan_management/        @nextchamp-saqib @deepeshgarg007
erp/regional                @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erp/selling                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erp/support/                @nextchamp-saqib @deepeshgarg007
pos*                            @nextchamp-saqib

erp/buying/                 @marination @rohitwaghchaure @s-aga-r
erp/e_commerce/             @marination
erp/maintenance/            @marination @rohitwaghchaure @s-aga-r
erp/manufacturing/          @marination @rohitwaghchaure @s-aga-r
erp/portal/                 @marination
erp/quality_management/     @marination @rohitwaghchaure @s-aga-r
erp/shopping_cart/          @marination
erp/stock/                  @marination @rohitwaghchaure @s-aga-r

erp/crm/                    @NagariaHussain
erp/education/              @rutwikhdev
erp/healthcare/             @chillaranand
erp/hr/                     @ruchamahabal
erp/non_profit/             @ruchamahabal
erp/payroll                 @ruchamahabal
erp/projects/               @ruchamahabal

erp/controllers             @deepeshgarg007 @nextchamp-saqib @rohitwaghchaure @marination
erp/patches/                @deepeshgarg007 @nextchamp-saqib @marination rohitwaghchaure
erp/public/                 @nextchamp-saqib @marination

.github/                        @ankush
requirements.txt                @gavindsouza @ankush
